parameters:
    level: 6

    phpVersion: 80000

    paths:
        - src
        - tests

    excludePaths:
        - */vendor/*

    bootstrapFiles:
        - vendor/autoload.php

    ignoreErrors:
        - '#unknown class Swoole\\#'

    treatPhpDocTypesAsCertain: false
    checkGenericClassInNonGenericObjectType: false
    checkMissingIterableValueType: false
    reportUnmatchedIgnoredErrors: false
